---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout>
    {/* 💡 必ず Layout の「中」に Header を入れる */}
    <Header />
    <div class="flex flex-col items-center justify-center  h-100">
        <span class="text-rotate text-7xl duration-6000">
            <span class="justify-items-center">
                <span class="font-bold italic px-2">LIGHT</span>
                <span class="font-bold italic px-2">YOUR</span>
                <span class="font-bold italic px-2">DREAMS</span>
                <span class="font-bold italic px-2">🔥</span>
            </span>
        </span>
    </div>
    <div class="flex flex-col items-center justify-center v-30">
        <h1 class="text-4xl mb-4">Welcome to Lusteria!</h1>
        <p class="text-lg text-center">
            Lusteria は、システム開発を通じて皆様の輝ける場所を提供いたします。<br
            />
            お気軽にお問い合わせください！
        </p>
    </div>

    <Background />
</Layout>
