---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Header />
<Layout />
<div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-4xl font-family: 'メイリオ' mb-4">Welcome to Lusteria!</h1>
    <p class="text-lg font-family: 'メイリオ' text-center">Lusteria is a portfolio website built with Astro, showcasing my projects and skills in web development. Feel free to explore and learn more about me and my work!
        
    </p>
</div>
<Background />
